---
import ArrowCard from "@components/ArrowCard.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { HOME, SITE, SOCIALS } from "@consts";
import PageLayout from "@layouts/PageLayout.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Hey, I'm Kisho (kyshx)<span class="text-xl"> 👋🏽 </span>
    </h4>
    <div class="space-y-6">
      <section class="animate space-y-6">
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL, index) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {index === SOCIALS.length - 1 ? "" : "/"}
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-12">
        <article>
          <p class="animate">
            I'm a 25yo Software Engineer living in Paris 🇫🇷, and I like building
            stuff. You'll always find me digging into cool tech and challenging
            projects.
            <p class="animate">
              At the end of 2024, I got hit with a layoff - my first beloved job
              gone. I was faced with a choice: jump into another well-paid job
              or try something totally different.
            </p>
            <p class="animate">
              I've always dreamed of working for myself, so I chose to build
              stuffs on the internet. Since bills don't pay themselves, I'm
              freelancing to keep things rolling.
            </p>
            <p class="animate">
              So I decided to document this adventure on this small blog. I'll
              write about everything and nothing.
            </p>
          </p>
        </article>

        <section class="animate space-y-6">
          <div class="flex flex-wrap gap-y-2 items-center justify-between">
            <h5 class="font-semibold text-black dark:text-white">
              Latest posts
            </h5>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>
      </section>
    </div>
  </Container>
</PageLayout>
